body { margin: 0; padding: 0; }
body { background-color: #333; }


.layout-highlight { background-color: #ccc; }
.layout-featured-highlight { background-color:#eee }
.layout-constrained { width: 760px; }
.layout-content {}
.layout-sidebar {}
