input[type=checkbox]:checked + label {
  color: red;
  font-family: cursive;
  font-weight: bold;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 2px solid red;
}

input:required {
  background-color: orange;
}

input:optional {
  background-color: yellow;
}
