/* ==|====================
   Layout/Constrained
   ======================= */

.layout-constrained { width: 760px; }
.layout-highlight { background-color: #ccc; }
.layout-featured-highlight { background-color: #eee; }
